.blog-area {
  padding: 100px 0 0;
}

.blog-post-box {
  margin-bottom: 60px;
  border: 1px solid #242424;
  padding: 40px 20px;
  background: var(--black-color);
}

.blog-post-box .blog-post-img {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  border-radius: 0.5em;
}

.blog-post-box .blog-post-img img {
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.blog-post-box .blog-post-img:hover img {
  transform: scale(1.04);
}

.blog-post-caption {
  padding-left: 0px;
  padding-top: 30px;
}

.blog-post-caption h2 {
  display: block;
  padding: 10px 0px 0px;
  color: var(--heading-color);
  font-family: var(--title-font);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .blog-area {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .blog-post-caption {
    padding-left: 0;
    padding-top: 30px;
  }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .blog-post-caption {
    padding-left: 0;
    padding-top: 30px;
  }

  .blog-area {
    padding-bottom: 80px;
  }
}
